@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
/*
COLOR REFERENCE FOR TASK TRACKER
primary-color: #2b8aff;
secondary-color: #6c757d;
background-color: #282c34;
text-color: #f8f9fa;
button-hover-color: #0056b3;
card-background: #333;
card-border: #444;
}*/

body,
html {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  background-color: #e8effe;
  color: #f8f9fa;
  line-height: 1.6;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  box-sizing: border-box;
  padding: 20px;
  background-color: #282c34;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
  color: #2b8aff;
  padding-left: 10px;
}
/*FORM*/
.task-form,
.form-group,
.btn {
  width: 99%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="text"],
.form-group textarea,
select {
  appearance: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #6c757d;
  border-radius: 4px;
  background-color: #282c34;
  color: var(--text-color);
}

.form-group textarea {
  resize: vertical;
}

.btn {
  background-color: #2b8aff;
  margin: 15px auto;
  width: 80%;
  color: #f8f9fa;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease;
  display: block;
}

.btn:hover,
.btn:focus {
  background-color: #0056b3;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}

.task-list div {
  background: #333;
  border: 1px solid #444;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  animation: fade 0.3s ease;
}

.task-listdiv:hover {
  transform: scale(1.02);
}

.task-display h2 {
  color: #2b8aff;
}
/*FOOTER*/

.footer-task {
  font-size: 8px;
}
